# Folders

game/core/animgraphs
game/core/dev
game/core/materials
game/core/models
game/core/panorama
game/core/particles
game/core/resourcemanifests
game/core/scripts
game/core/soundevents
game/core/sounds
game/core/soundstacks
game/core/surfaceproperties
game/core/textures
game/_toolsettings
game/core/vgui
game/core/shaders
game/steampal/_vrad3
game/steampal/_bakeresourcecache
game/steampal/bin
game/steampal/cfg
game/steampal/lighting
game/steampal/maps
game/steampal/panorama
game/steampal/resource/localization
game/steampal/animgraphs
game/steampal/aperture
game/steampal/cameras
game/steampal/cfg
game/steampal/materials
game/steampal/models
game/steampal/particles
game/steampal/scenes
game/steampal/scripts
game/steampal/soundevents
game/steampal/sounds
game/steampal/soundstacks
game/steampal/surfaceproperties
game/steampal/textures
game/steampal/thelab
game/steampal/shaders
content/_toolsautosave
content/testbed/maps/tests
game/testbed/_bakeresourcecache
game/testbed/cfg
game/testbed/maps
game/testbed/maps/tests

# Files

pak01*
shaders_pc*
shaders_vulkan*
thirdpartylegalnotices.txt
vr_fidelity_levels.csv
stringtokendatabase.txt
*.mdmp
game/_toolsettings/asset_browser/settings.txt
game/core/tools_asset_info.bin
game/core/readonly_tools_asset_info.bin
game/steampal/tools_asset_info.bin
game/steampal/readonly_tools_asset_info.bin
game/steampal/tools_thumbnail_cache.bin
game/testbed/tools_asset_info.bin
game/testbed/readonly_tools_asset_info.bin
game/testbed/tools_thumbnail_cache.bin
*.i64